/* ===================
    Header
=================== */

#header {
    background: var(--color-bg-box);
    border-bottom: 1px solid var(--color-border);
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space-s) var(--space-m);
}

#site-name {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0 var(--space-m);
}

#user-menu,
#auth-links {
    display: flex;
    gap: var(--space-m);
}

#auth-links a {
    border: 1px solid var(--color-border);
    padding: var(--space-s) var(--space-m);
    border-radius: var(--radius);
}
#auth-links a:hover {
    background: var(--color-bg);
    color: var(--color-accent);
}

#main-nav {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    margin: 0 var(--space-m);
}
#main-nav::-webkit-scrollbar {
    display: none;
}

#main-nav a {
    color: var(--color-text-light);
    font-weight: 500;
    padding: var(--space-s) var(--space-m);
    white-space: nowrap;
}
#main-nav a:hover {
    color: var(--color-accent);
    background: var(--color-bg);
}

/* ===================
    Footer
=================== */
#footer {
    background: var(--color-bg-box);
    border-top: 1px solid var(--color-border);
    text-align: center;
    padding: var(--space-m);
    margin-top: auto;
}

#footer p {
    color: var(--color-text-light);
    font-size: 0.875rem;
}
